modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
APPLE_CERT_PEM = """
-----BEGIN CERTIFICATE-----
MIIGHjCCBQagAwIBAgIQNAJQd1aFiV8OgO0DsqO9wzANBgkqhkiG9w0BAQsFADB1
MUQwQgYDVQQDDDtBcHBsZSBXb3JsZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9ucyBD
ZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTELMAkGA1UECwwCRzQxEzARBgNVBAoMCkFw
cGxlIEluYy4xCzAJBgNVBAYTAlVTMB4XDTI2MDcyMDIwMjczOFoXDTI3MDgxOTIw
MjczN1owgZcxJzAlBgoJkiaJk/IsZAEBDBdwYXNzLmNsaW5pYy50bGdhYWRzLmNv
bTEuMCwGA1UEAwwlUGFzcyBUeXBlIElEOiBwYXNzLmNsaW5pYy50bGdhYWRzLmNv
bTETMBEGA1UECwwKVjk2UjU3RjZUMzEaMBgGA1UECgwRQWJkdWxlbGFoIEFsZmFp
ZmkxCzAJBgNVBAYTAlVTMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
sxJ622J/2sVU6cK8ks15ne/pspgW7AtELm6a40kiMDzU5o1hJpZWBxSTsrCfRzmA
ZqTU5Cs6ZgNbwcPJgJKoVxFoxPDpzeBKWK65MMIU0BDFKkx91WXvO8d3ZY5YU6/i
B+HY1JDo9nge9QspMlvOLaYZNBNSiZ/8UV1TDeHzYzbm+FKBanTCKyhj3LqI7f0e
T5y9C3rxulgezu4jxeVBdFXI6GwckhgneQ56mEKqCrEnEmqddjhQYcsOEx05Dq2Y
lwxqgELH+ehIsfwdrn+sEXyGsEDjAG6tP+GtwNbrLI4vTBPMpMh3vI58GfLOvq9i
qfI/qgj4U2p92eUNYoAo5QIDAQABo4IChTCCAoEwDAYDVR0TAQH/BAIwADAfBgNV
HSMEGDAWgBRb2fod55oaC6OZdiJQhj6RyFt3qDBwBggrBgEFBQcBAQRkMGIwLQYI
KwYBBQUHMAKGIWh0dHA6Ly9jZXJ0cy5hcHBsZS5jb20vd3dkcmc0LmRlcjAxBggr
BgEFBQcwAYYlaHR0cDovL29jc3AuYXBwbGUuY29tL29jc3AwMy13d2RyZzQwNDCC
AR4GA1UdIASCARUwggERMIIBDQYJKoZIhvdjZAUBMIH/MIHDBggrBgEFBQcCAjCB
tgyBs1JlbGlhbmNlIG9uIHRoaXMgY2VydGlmaWNhdGUgYnkgYW55IHBhcnR5IGFz
c3VtZXMgYWNjZXB0YW5jZSBvZiB0aGUgdGhlbiBhcHBsaWNhYmxlIHN0YW5kYXJk
IHRlcm1zIGFuZCBjb25kaXRpb25zIG9mIHVzZSwgY2VydGlmaWNhdGUgcG9saWN5
IGFuZCBjZXJ0aWZpY2F0aW9uIHByYWN0aWNlIHN0YXRlbWVudHMuMDcGCCsGAQUF
BwIBFitodHRwczovL3d3dy5hcHBsZS5jb20vY2VydGlmaWNhdGVhdXRob3JpdHkv
MB4GA1UdJQQXMBUGCCsGAQUFBwMCBgkqhkiG92NkBA4wMgYDVR0fBCswKTAnoCWg
I4YhaHR0cDovL2NybC5hcHBsZS5jb20vd3dkcmc0LTguY3JsMB0GA1UdDgQWBBRB
c8iJ/7RSZayRD7XiFyd0AW88yTAOBgNVHQ8BAf8EBAMCB4AwJwYKKoZIhvdjZAYB
EAQZDBdwYXNzLmNsaW5pYy50bGdhYWRzLmNvbTAQBgoqhkiG92NkBgMCBAIFADAN
BgkqhkiG9w0BAQsFAAOCAQEAH+F64juYf7cqn2WcxeuTmoF4qTHcQti4qUNQ5DW0
jGkqFnJbdBrnseZgn+qmo1TRobkMzSnHwK1AOTnbrm6k7e5L1J3AOH6o56Eq7EkN
Ry3geVAWHvLrgX6+E3+In0RZxnAbghDMJbhWwDIMKt/nSnOJG5hhC4oBXk1/Y3ux
06ODSctLvN57JqxpC61TwYZ54QljKf250o4B5Fq0j+SXxBFl8mFN/0QKY/Pvs1BC
90rEZLRhhTe/b/R8MzeItXKo96YC8q9TXzNtnXh42c7KxMR1oqqkaw3iaQmMSj6V
jJxZHEjAQZyTgq3eMX15lTWFniR534+b3tyDfZX630Iv7w==
-----END CERTIFICATE-----"""
APPLE_WWDR_PEM = """
-----BEGIN CERTIFICATE-----
MIIEVTCCAz2gAwIBAgIUE9x3lVJx5T3GMujM/+Uh88zFztIwDQYJKoZIhvcNAQEL
BQAwYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xJjAkBgNVBAsT
HUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRYwFAYDVQQDEw1BcHBsZSBS
b290IENBMB4XDTIwMTIxNjE5MzYwNFoXDTMwMTIxMDAwMDAwMFowdTFEMEIGA1UE
Aww7QXBwbGUgV29ybGR3aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNh
dGlvbiBBdXRob3JpdHkxCzAJBgNVBAsMAkc0MRMwEQYDVQQKDApBcHBsZSBJbmMu
MQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANAf
eKp6JzKwRl/nF3bYoJ0OKY6tPTKlxGs3yeRBkWq3eXFdDDQEYHX3rkOPR8SGHgjo
v9Y5Ui8eZ/xx8YJtPH4GUnadLLzVQ+mxtLxAOnhRXVGhJeG+bJGdayFZGEHVD41t
QSo5SiHgkJ9OE0/QjJoyuNdqkh4laqQyziIZhQVg3AJK8lrrd3kCfcCXVGySjnYB
5kaP5eYq+6KwrRitbTOFOCOL6oqW7Z+uZk+jDEAnbZXQYojZQykn/e2kv1MukBVl
PNkuYmQzHWxq3Y4hqqRfFcYw7V/mjDaSlLfcOQIA+2SM1AyB8j/VNJeHdSbCb64D
YyEMe9QbsWLFApy9/a8CAwEAAaOB7zCB7DASBgNVHRMBAf8ECDAGAQH/AgEAMB8G
A1UdIwQYMBaAFCvQaUeUdgn+9GuNLkCm90dNfwheMEQGCCsGAQUFBwEBBDgwNjA0
BggrBgEFBQcwAYYoaHR0cDovL29jc3AuYXBwbGUuY29tL29jc3AwMy1hcHBsZXJv
b3RjYTAuBgNVHR8EJzAlMCOgIaAfhh1odHRwOi8vY3JsLmFwcGxlLmNvbS9yb290
LmNybDAdBgNVHQ4EFgQUW9n6HeeaGgujmXYiUIY+kchbd6gwDgYDVR0PAQH/BAQD
AgEGMBAGCiqGSIb3Y2QGAgEEAgUAMA0GCSqGSIb3DQEBCwUAA4IBAQA/Vj2e5bbD
eeZFIGi9v3OLLBKeAuOugCKMBB7DUshwgKj7zqew1UJEggOCTwb8O0kU+9h0UoWv
p50h5wESA5/NQFjQAde/MoMrU1goPO6cn1R2PWQnxn6NHThNLa6B5rmluJyJlPef
x4elUWY0GzlxOSTjh2fvpbFoe4zuPfeutnvi0v/fYcZqdUmVIkSoBPyUuAsuORFJ
EtHlgepZAE9bPFo22noicwkJac3AfOriJP6YRLj477JxPxpd1F1+M02cHSS+APCQ
A1iZQT0xWmJArzmoUUOSqwSonMJNsUvSq3xKX+udO7xPiEAGE/+QF4oIRynoYpgp
pU8RBWk6z/Kf
-----END CERTIFICATE-----"""
APPLE_KEY_PEM = """
-----BEGIN PRIVATE KEY-----
MIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCzEnrbYn/axVTp
wrySzXmd7+mymBbsC0QubprjSSIwPNTmjWEmllYHFJOysJ9HOYBmpNTkKzpmA1vB
w8mAkqhXEWjE8OnN4EpYrrkwwhTQEMUqTH3VZe87x3dljlhTr+IH4djUkOj2eB71
CykyW84tphk0E1KJn/xRXVMN4fNjNub4UoFqdMIrKGPcuojt/R5PnL0LevG6WB7O
7iPF5UF0VcjobBySGCd5DnqYQqoKsScSap12OFBhyw4THTkOrZiXDGqAQsf56Eix
/B2uf6wRfIawQOMAbq0/4a3A1ussji9ME8ykyHe8jnwZ8s6+r2Kp8j+qCPhTan3Z
5Q1igCjlAgMBAAECgf9Jnw9jottt1jNS5/0fXdriVACArIbABOHDNTX4u9iSfHAL
WZTXiHdV8d/HV1Yksj9X8+yS4jLgPgE7aIMvmRwcr8ujLGjze4MVcsAwi5qC8GIf
QdN6KK5ypU8xMZSe03DaTMAYpHsi2b/gfvYw/g2GNwOlpUwJyPyzduruijbGUtu9
0xJJIUcIEKOcY+5H01SM2UG2sjKPkG3AkKf/q38IG/b22gtBneYvB7nWNbe+7iyv
pV9/QFf0WDYic3saa3t1iF43OCvHBBbzGKCcWVyArvV7boo3ViA7FmG+VhJ/TVmC
67D74uxubv1w21WixfYyW8N+UpU4X8BeXn1HdqkCgYEA49Yct+wT7YTV/O+6MgOe
jXGd0ulisIdbYN2UO9psuDwFqA6+QZc+Ek8S2tvn7mA4mJ+MBy9DG1jnFHXzOhG3
oC7TBNCKsntZJ7Yn0lHD6WDZor9cBjMvIPcMgoFCQ0dlIZUMLeHfoR32NlIc/dWM
EU+vwcFZTEH5nV0G+bblBS0CgYEAyTU5SFBIWqRF01fzd/GmqEbB9/ek77NDTeU0
bYqZ/hacwTQe7//u/LfWJJ63ByzY03xtV0wgxKXssU24AUnR4s+Pjm5xNvI/L6lJ
dz+aYl3UPOznPbvqMYSDaa7vtRHa++0ZXomPrRr9Z4fAeMH1eY794CtdZW1dfMf5
yR/c9ZkCgYBwShqlWykHKyz8GHrAI6CFPbX3OSd2sX+L4ikoxqJGuu5ewcVrNktV
Yrt8Ol240puSPTAaamS8mbhqESfrOsgxnmJKQS3agYiTVeeSdNIFt8ILwBxuwdM8
gAYeW+54kjt5rafvBR/enJG4fAfl4tXBwnBxIgYM24dW036YnFeLkQKBgQCgTSQP
Bc8vT9NFlrulYsQJKx5cJVOlmOdVRvenEhavxWorzw+a3AeWFgyo7j4ZnFQ+4dHn
DALLSPozJB0mAZ8TGZRgwIK4aPWITlH2jJi+J8zwoTl2CKGDw/RCnZniY5BYx8Q/
ek8adfdPpWrlinm81/xRvZrSNPiXcmcCIr2SeQKBgG9wW+/Ht2ApL6ORTnUDFAFH
JSX5mH6cyHpa95HveKyeZkbkJxscMZfjjgzm5TeO6BJU+obJggs1hQTanmwKwdy7
JB+Q8srqwMvO45fkmJsWq0rHmvGYyxKy3KaA7Qu1RilMoZg7Ryld9MDwmGg5UG0f
tdEpcgwRBV4I6to4NpwE
-----END PRIVATE KEY-----"""
